* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  max-height: 999999px;
}

body{
  color: #193347;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Poppins';
  box-sizing: border-box;
}

.main-container{
  display: block;
  overflow: hidden;
}

.content-wrapper{
  width: 90%;
  margin:auto;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1580px;
  width: 100%;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

.custom-title {
  font-size: 108px;
  font-weight: 900;
  line-height: 1.4;
  text-transform: none;
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #b6d9eb, #eaf3f8);
  background-image: -o-linear-gradient(45deg, #b6d9eb, #eaf3f8);;
  -webkit-background-clip: text;
}

/* h4 {
  position: relative;
  color: #193347;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 20px;
  z-index: 2;
} */

h1{
  color: #91d1e5;
  font-size: 53px;
}


.small-icon-wrap {
  position: absolute;
  width: 60%;
}

/***************
      Home 
****************/

.home {
  padding: 60px 0 160px;
}

.home-bg-image{
  position: absolute;
  transform: translate(-35%, -20%) scale(0.8,0.8);
  display: block;
  max-width: 1520px;
}

h2.home-headline{
  font-size: 125px;
  font-weight: 900;
  text-transform: none;
  margin-top: -20px;
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #a5ddec, #51b5d5);
  background-image: -o-linear-gradient(45deg, #a5ddec, #51b5d5);
  -webkit-background-clip: text;
}

.home-row {
  display: flex;
  justify-content: space-between;
}

.home-col-1 {
  position: relative;
  width:40%;
  margin: auto;
  z-index: 1;
}

.home-col-2 {
  position: relative;
  width:45%;
  margin: 0 auto 0 0;
  padding-top: 60px;
  z-index: 1;
}

.home-text-wrap {
  margin-top: 63%;
}

.logo {
  max-width: 390px;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}


.home-icon{
  display: block;
  position: absolute;
  z-index: 2;
}

.home-icon:nth-child(1){
  max-width: 58px;
  left: 505px;
  top: 54px;
}
  
.home-icon:nth-child(2){
  max-width: 45px;
  left: 465px;
  top: 13px;
}
  
.home-icon:nth-child(3){
  max-width: 12px;
  left: -445px;
  top: 270px;
}
  
.home-icon:nth-child(4){
  max-width: 23px;
  left: -428px;
  top: 298px;
}
  
.home-icon:nth-child(5){
  max-width: 80px;
  left: -364px;
  top: 294px;
}

.home-icon:nth-child(6){
  max-width: 23px;
  left: -16px;
  top: 610px;
}

.home-icon:nth-child(7){
  max-width: 46px;
  left: 26px;
  top: 546px;
}


/*******************
    Content-one
********************/

.content {
  width: 100%;
  position: relative;
  padding: 5% 3%;
}

.cRow {
  display: flex;
  z-index: 10;
}

.content-bg-image1{
  position: absolute;
  left:0;
  transform: translate(-29%, -40%) scale(0.45,0.425);
  z-index: 0;
}

.content-bg-image2{
  position: absolute;
  right:0;
  transform: translate(28%, -37%) scale(0.44,0.44);
  z-index: 0;
}


.content-content-wrap{
  position: relative;
}

.content-text{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0px;
}


.content-image-wrap {
  display: flex;
  justify-content: center;
  margin-top:-8%;
}

.important{
  color: #cbe2f0;
  font-size: 67px;
  text-align: center;
  line-height: 1;
  font-weight: 700;
}

.management{
  margin-top: -51px;
  margin-bottom:15px;
}

.anim-icon-wrap {
  width: 434px;
  height: 482px;
  position: relative;
}

.anim-icon-wrap1-icon {
  position: absolute;
  display: block;
}


.anim-icon-wrap1-icon:nth-child(1) {
  max-width: 62%;
  left: 38%;
  top: 56%;
  z-index: 1;
}

.anim-icon-wrap1-icon:nth-child(2) {
  max-width: 59%;
  left: -1%;
  top: 70%;
}

.anim-icon-wrap1-icon:nth-child(3) {
  max-width: 42%;
  left: 17%;
  top: 30%;
}

.anim-icon-wrap1-icon:nth-child(4) {
  max-width: 30%;
  left: 65%;
  top: 27%;
}

.content-icon1{
  display: block;
  position: absolute;
}

.content-icon1:nth-child(1){
  max-width: 65px;
  left: 400px;
  top: 63px;
}
  
.content-icon1:nth-child(2){
  max-width: 19px;
  left: 35px;
  top: 116px;
}
  
.content-icon1:nth-child(3){
  max-width: 35px;
  left: -24px;
  top: 135px;
}
  
.content-icon1:nth-child(4){
  max-width: 55px;
  left: 165px;
  top: 510px;
}
  
.content-icon1:nth-child(5){
  max-width: 17px;
  left: 246px;
  top: 575px;
}

/************************
  content-two
*************************/


.custom{
  padding-left:2%;
}

.or-premade{
  display: flex;
  margin-left: 142px;
}

.or{
  color:#cbe2f0;
  font-size: 70px;
  font-weight:700;
  margin-top: -55px;
  float: right;
}

.premade{
  float: left;
  font-weight: 900;
  margin-top: -70px;
  text-transform: none;
  color: #000;
  margin-left: 10px;
  background-image: -webkit-linear-gradient(45deg, #eaf3f8,#b6d9eb);
  background-image: -o-linear-gradient(45deg, #eaf3f8,#b6d9eb);
}

.content-para{
  margin-left:15px;
  margin-top:-5px;
}

.anim-icon-wrap2-icon {
  position: absolute;
  display: block;
}

.anim-icon-wrap2-icon:nth-child(1) {
  max-width: 59%;
  left: 48.5%;
  top: 71%;
  z-index: 1;
}

.anim-icon-wrap2-icon:nth-child(2) {
  max-width: 52%;
  left: -7%;
  top: 56%;
  z-index: 1;
}

.anim-icon-wrap2-icon:nth-child(3) {
  max-width: 36%;
  left: 9%;
  top: 97%;
}

.anim-icon-wrap2-icon:nth-child(4) {
  max-width: 55%;
  left: 32%;
  top: 32%;
}

.content-icon2{
  display: block;
  position: absolute;
}

.content-icon2:nth-child(1){
  max-width: 20px;
  left: -31px;
  top: 198px;
}
  
.content-icon2:nth-child(2){
  max-width: 12px;
  left: 465px;
  top: 85px;
}
  
.content-icon2:nth-child(3){
  max-width: 52px;
  left: 380px;
  top: 135px;
}
  
.content-icon2:nth-child(4){
  max-width: 19px;
  left: 436px;
  top: 207px;
}
  
.content-icon2:nth-child(5){
  max-width: 90px;
  left: 425px;
  top: 505px;
}


/***********************
      Content-three
************************/

.heading-down{
  margin-left:137px;
  margin-top: -85px;
  margin-bottom:-12px;
}

.anim-icon-wrap3-icon {
  position: absolute;
  display: block;
}

.anim-icon-wrap3-icon:nth-child(1) {
  max-width: 59%;
  left: -3%;
  top: 63%;
  z-index: 2;
}

.anim-icon-wrap3-icon:nth-child(2) {
  max-width: 33%;
  left: 60%;
  top: 62%;
  z-index: 2;
}

.anim-icon-wrap3-icon:nth-child(3) {
  max-width: 62%;
  left: 21%;
  top: 20%;
  z-index: 1;
}

.anim-icon-wrap3-icon:nth-child(4) {
  max-width: 45%;
  left: 58%;
  top: 29%;
}


.content-icon3{
  display: block;
  position: absolute;
}

.content-icon3:nth-child(1){
  max-width: 60px;
  left: 394px;
  top: 45px;
}
  
.content-icon3:nth-child(2){
  max-width: 12px;
  left: 460px;
  top: 98px;
}
  
.content-icon3:nth-child(3){
  max-width: 20px;
  left: -90px;
  top: 307px;
}
  
.content-icon3:nth-child(4){
  max-width: 85px;
  left: -55px;
  top: 265px;
}
  
.content-icon3:nth-child(5){
  max-width: 14px;
  left: 279px;
  top: 460px;
}

.content-icon3:nth-child(6){
  max-width: 36px;
  left: 300px;
  top: 483px;
}

/********************
    form
*********************/

.form-section {
  text-align: center;
  margin-bottom: 235px;
  margin-top: 60px;
}

.form-heading{
  color: #bad8e6;
  font-size: 65px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 800;
}

.course-builder-form {
  margin-top: 88px;
  text-align: justify;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1025px;
}

input.hs-button.primary.large {
  float: right;
  border: none;
  outline: none;
  /* margin: auto; */
  text-decoration: none;
  text-transform: lowercase;
  cursor: pointer;
  transition: .3s ease;
  min-width: 155px;
  line-height: 0;
  text-shadow: 0 3px 5px rgba(33, 62, 83, 0.2);
  color: white;
  font-size: 26px;
  font-weight: 800;
  border-radius: 8px;
  height: 65px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -4px 0 rgba(0, 0, 0, 0.1);
  background-color: #d2de40;
  background-image: linear-gradient(25deg, rgba(195, 216, 46, 0.5) 0%, rgba(230, 231, 93, 0.5) 100%);
}

input.hs-button.primary.large:hover{
  background-color: #b5c22a;
}


#lms_name-06257986-1392-4aad-86ec-bba38f21f752{
  padding: 10px 30px;
  font-size: 20px;
  font-weight:300;
}

.form-columns-1, .form-columns-2{
  margin-top: 48px;
  border: none;
}

.hs-form .hs-form-field {
  position: relative;
  margin-bottom: 25px;
}

.hs-form label{
  position: absolute;
  top:-36px;
  opacity: 0.5;
  color: #193347;
  font-size: 20px;
  font-weight: 300;
}

.hs_firstname label, .hs_lastname label, .hs_company label{
  left: 40px;
}

.hs_email label, .hs_phone label, .hs_numemployees label {
  right: 40px;
}

.hs_do_you_have_an_lms_radio label{
  left:40%;
  text-transform: capitalize;
}

.input .hs-input{
  border: none;
  outline: none;
  position: relative;
  z-index: 9;
  transition: 0.5s ease;
  border-radius: 8px;
  width: 100%;
  height: 85px;
  padding: 10px 40px;
  box-shadow: 0 13px 50px rgba(216, 234, 245, 0.6);
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  -webkit-appearance: none;
}

.hs_email, .hs_phone, .hs_numemployees{
  float: right;
  width:48%;
}

.hs_firstname, .hs_lastname, .hs_company{
  float:left;
  width: 48%;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/svg/arrow.svg) no-repeat;
  background-position: 7% 52%;
  background-size: 18px;
  text-align-last: end;
}

select#numemployees-06257986-1392-4aad-86ec-bba38f21f752{
  font-size: 20px;
  font-weight:300;
  text-transform: lowercase;  
}


.hs-form-radio .hs-input{
  box-shadow: none;
  height: auto;
  width:auto;
}

.hs-form label.hs-form-radio-display{
  position: relative;
  top:0px;
  left: 0px;
  opacity: 1;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
}

ul{
  list-style-type: none;
  display: flex;
  width: 85%;
  margin: 0 auto 4%;
  padding-top: 3%;
}

li{
  width: 33%;
  margin: auto;
}

.hs-form-radio p{
  display: inline;
}

.hs_radio_select_property.field.hs-form-field{
  margin-bottom: 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  visibility: hidden;
}

[type="radio"]:checked + span,
[type="radio"]:not(:checked) + span
{
  position: relative;
  cursor: pointer;
  line-height: 20px;
}

[type="radio"]:checked + span{
  width: 100px;
}

[type="radio"]:not(:checked) + span:before {
  content: '';
  position: absolute;
  top: -17px;
  right: -85px;
  width: 60px;
  height: 60px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f6fafd;
  border: 15px solid rgb(255, 255, 255);
  border-radius: 100%;
}

#do_you_have_an_lms_radio0-06257986-1392-4aad-86ec-bba38f21f752:checked + span:before{
  content: '';
  position: absolute;
  top: -20px;
  right: -86px;
  width: 40px;
  height: 80px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 33px solid rgb(255, 255, 255);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

#label-lms_name-06257986-1392-4aad-86ec-bba38f21f752{
  display: none;
}

input:focus::placeholder{
  color:transparent;
}

#lms_name-06257986-1392-4aad-86ec-bba38f21f752{
  display: none;
  margin-top: -72px;
  margin-bottom: 45px;
}


[type="radio"]:checked + span:after,
[type="radio"]:not(:checked) + span:after {
  content: '';
  width: 30px;
  height: 30px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d2de40;
  position: absolute;
  right: -69px;
  top:0;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + span:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.form-label {
  color: rgba(25, 51, 71, 0.41);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.41;
  text-align: right;
  float:left;
  width:77%;
}

/********************
     Contact
*********************/

.contact-section{
  position: relative;
}

.contact{
  margin:150px 150px 0 ;
  position: relative;
}

.bg-image {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-10%, 35%) scale(0.9,0.9);
}

.contact-row{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-col-2 {
  max-width: 38%;
}

.contact-col-1 {
  max-width: 60%;
  flex: 0 0 60%;
}

.free-trial-btn{
  margin-top: 20px;
  display: flex;
}

.contacts-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
}

.contacts-title span{
  font-size: 50px;
  font-weight: 700;
}

.contacts-title a{
  font-weight: 700;
  color:  #193347;
  text-decoration: none;
}

.contacts-subtitle {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 40px;
}

.contacts-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.contacts-text {
  font-size: 30px;
  font-weight: 400;
  margin-right: 18px;
}

.contacts-btn{
  display: inline;
}

.contacts-helmet {
  display: block;
  transform: translate(130px, 50px) scale(1.2);
  max-width: 100%;
}

.contacts-image-wrap {
  position: relative;
}

.contact-icon{
  display: block;
  max-width: 40px;
  position: absolute;
}

.contact-icon:nth-child(1) {
  max-width: 72px;
  left: 490px;
  top: -410px;
}

.contact-icon:nth-child(2) {
  max-width: 28px;
  left: 33px;
  bottom: -20px;
}

.contact-icon:nth-child(3) {
  max-width: 60px;
  left: 85px;
  bottom: -80px;
}

.contact-icon:nth-child(4) {
  max-width: 12px;
  left: 10px;
  bottom: -55px;
}

.contact-icon:nth-child(5) {
  max-width: 32px;
  left: 465px;
  top: -325px;
}


.btn-style {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  transition: .3s ease;
  line-height: 1.2;
  text-decoration: none;
  min-width: 170px;
  border-radius: 10px;
  height: 70px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d3de3f;
  background-image: linear-gradient(25deg, rgba(195, 216, 46, 0.5) 0%, rgba(230, 231, 93, 0.5) 100%);
} 

.btn-style a{
  text-decoration: none;
}

.btn-style-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}
  
.btn-style-text {
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  text-shadow: 0 3px 5px rgba(33, 62, 83, 0.2);
  color: white;
  font-size: 26px;
  font-weight: 900;
}
  
.btn-style:hover{
  background-color: #b4c03c;
}

.btn-style:focus{
  border: none;
}

button.btn-style:focus{
  border: none;
  outline: none;
}

/**************
    Footer 
***************/

.footer {
  position: relative;
  padding: 150px 0 20px 80px;
  background: url(../images/footer-bg.png);
  background-size: cover;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.footer-logo {
  margin-right: 33px;
}

.footer-logo img{
  display: block;
  max-width: 160px;
  height: auto;
  margin-bottom: 15px;
}

.footer-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-nav a{
  color: #193347;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-right: 20px;
  text-decoration: none;
}

.footer-copyright {
  opacity: 0.5  ;
  color: #193347;
  font-size: 18px;
}

/* .row {
  display: flex;
  align-items: center;
}  */



/********************
    Lift Up  
*********************/

.lift-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 80 ;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 35px rgba(177, 192, 201, 0.75);
  background-color: white;
  transform: translateY(120%);
  transition:  0.5s ease;;
}

._active {
  transform: translateY(0);
}
  
.lift-up:after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  background-image: url(../images/svg/arrow.svg);
  transform: scale(1, -1);
  background-repeat: no-repeat;
  background-size: contain;
}

  
.lift-up:hover::before{
  transform: translate(-50%, -70%) rotate(-90deg);
}



/**************************
        Media Query
***************************/

@media only screen and (max-width:1200px){

  label.lms-text span{
    display: inline-block;
    width: 96vw;
    text-align: center;
  }
  
  .footer-nav{
    flex-wrap: wrap;
  }

  .footer-nav a{
    margin-bottom: 14px;
  }

}

@media only screen and (max-width: 350px){
 .container{
  padding: 0;
 }

 h2.custom-title{
  font-size: 41px;
 }

 p.important {
  font-size: 27px;
 }

 /* .custom-title.premade {
  margin-top: -75px;
  margin-left: 81px;
 } */

 .custom-premade .or-premade{
  margin-left: 42px;
 }
}


@media only screen and (max-width: 767px){

  .small-icon-wrap{
    display: none;
  }
}



@media only screen and (max-width:600px){
  
  .content-wrapper{
    width:100%;
  }

  .home{
    padding: 0px;
  }

 /* 
  .heading-up{
    margin-bottom: -30px;
  } */

  /* .heading-down{
    margin: 30px 0px 0px 0px;
  } */

  .home-col-1 {
    width:90%;
    margin: auto;
  }

  .home-col-2 {
    width:100%;
    margin: auto;
    padding-top: 20px;
  }

  /* .home-text-wrap {
    margin-top: 20%;
  } */

  .home-text-wrap{
    margin-top: 300px;
    /* margin-bottom: -20px; */
  }

  /* .home-bg{
    max-width:100%;
  } */

  .home-row {
    flex-direction: column-reverse;
  }

  h1 {
    /* font-size: 38px; */
    font-size: 36px;
  }

  h2.home-headline {
    font-size: 66px;
    font-weight: 800;
  }

  .home-bg-image {
    /* transform: translate(-40%, -45%) scale(0.2,0.2); */
    transform:translate(-36%, -30%) scale(0.2,0.2);
  }

  /* .row {
    flex-direction: column;
    margin:0px;
  } */

  /******************
       content-one
  *******************/

  .content{
    padding: 0% 3%;
  }

  .custom-title {
    font-size: 44px;
    line-height: 2.5;
    text-align: center;
  }

  .content-image-wrap.col-5 {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .cRow {
    flex-direction: column;
  }

  .col-7{
    width: 100%;
  }

  .content-content-wrap.col-7{
    max-width: 100%;
    margin: 75px 0 0;
    padding: 0px;
  }

  .content-bg-image1 {
    transform: translate(-40%, -40%) scale(0.2,0.2);
  }

  .important {
    font-size: 29px;
    font-weight: 600;
  }

  .management {
    margin-bottom: -5px;
  }

  .content-text {
    font-size: 16px;
  }

  .anim-icon-wrap{
    width: 268px;
    height: 293px;
  }


  /* h4{
    font-size: 16px;
    margin-bottom: 8px;
  } */

  /******************
      content-two
  *******************/

  .cRow.middle {
    flex-direction: column-reverse;
  }

  .or-premade{
    margin-left:74px;
  }

  .or {
    color: #cbe2f0;
    font-size: 30px;
    margin-top: -51px;
  }

  .premade {
    margin-top: -80px;
    margin-left: 5px;
  }

  .content-bg-image2 {
    transform: translate(40%, -40%) scale(0.2,0.2);
  }

  .content-para {
    margin-left: 0px;
    margin-top:-10px
  }

  /******************
      content-three
  *******************/


  .content-content-wrap.col-7.track {
    margin-top: 20px;
  }

  .content-content-wrap.col-7.track h2.custom-title{
    text-align: left;
    margin-left: 16%;
  }

  .content-content-wrap.col-7.track h2.custom-title.heading-down{
    margin-left: 34%;
  }


  /******************
      form-section
  *******************/

  .form-section{
    padding: 0px;
    margin-bottom: 20px;
  }

  .form-heading {
    font-size: 34px;
  }

  .course-builder-form {
    width: 100%;
    padding: 0px 10px;
  }

  .hs_firstname, .hs_lastname, .hs_company,.hs_email, .hs_phone, .hs_numemployees{
    float: none;
    width:100%;
  }

  .hs_firstname label, .hs_lastname label, .hs_company label,.hs_email label, .hs_phone label, .hs_numemployees label {
    left: 15px;
  }

  .hs-form label {
    font-size: 18px;
    top: -30px;
  }  

  .hs-form .hs-form-field {
    margin-bottom: 50px;
  }

  .form-columns-1, .form-columns-2{
    margin-top: 0px;
  }

  select#numemployees.hs-input{
    font-size: 14px;
  }

  select{
    background-position: 90% 45%;
    background-size: 18px;
    text-align-last: left;
  }

  [type="radio"]:not(:checked) + span:before {
    left: 110px;
    top: -12px;
    width: 40px;
    height: 40px;
    border: 10px solid rgb(255, 255, 255);
  }

  [type="radio"]:checked + span:after,
  [type="radio"]:not(:checked) + span:after {
    width: 20px;
    height: 20px;
    left: 120px;
    top: 2px;
  }

  #do_you_have_an_lms_radio0-06257986-1392-4aad-86ec-bba38f21f752:checked + span:before{
    display: none;
    width: 80px;
    height: 110px;
  }

  .hs-form-radio .hs-form-radio-display span{
    font-size:20px;
    display: table;
  }

  select#numemployees-06257986-1392-4aad-86ec-bba38f21f752 {
    font-size: 18px;
  }

  #lms_name-06257986-1392-4aad-86ec-bba38f21f752{
    padding: 10px 10px;
  }

  #lms_name-06257986-1392-4aad-86ec-bba38f21f752{
    margin-top: -32px;
  }

  .hs_do_you_have_an_lms_radio label {
    left: 20%;
  }

  ul{
    width: 100%;
    margin: 0 0 4% 0;
    flex-direction: column;
    justify-content: space-between;
  }

  li{
    width: 65%;
    display: flex;
    margin: auto 25%;
  }

  .hs-form-radio p {
    font-size: 18px;
    width: 100px;
  }

  .input .hs-input{
    height: 50px;
    padding: 10px 10px;
  }

  .form-label{
    text-align: center;
    font-size: 12px;
    margin-top: -25px;
    margin-bottom: 20px;
    width: 100%;
  }

  input.hs-button.primary.large {
    float: none;
    margin-left: 25%;
    height: 55px;
    font-size: 24px;
  }

 /****************
     contact 
 *****************/

  .contact{
    margin:0;
    padding: 50px 0px 0px 0px;
  }

  .contact-row {
    flex-direction: column-reverse;
  }

  .contact-col-2{
    margin-bottom: 40px;
    max-width: 100%;
  }
  .contact-col-1 {
    max-width: 90%;
    margin: auto;
  }

  .contacts-subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .contacts-title span {
    font-size: 30px;
  }

  .contacts-title {
    font-size: 26px;
  }

  .contacts-helmet {
    transform: translate(0px, 0px);
  }

  .contact-icon:nth-child(1) {
    max-width: 62px;
    left: 260px;
  }

  .contact-icon:nth-child(5) {
    max-width: 32px;
    left: 260px;
  }

  .free-trial-btn .btn-style{
    height: 58px;
  }

  .btn-style-text{
    font-size: 22px;
    line-height: 1;
  }


 /****************
    footer
 *****************/

  .footer {
    padding: 85px 20px 20px;
  }

  .footer-logo {
    margin-right: 50px;
    margin-bottom: 35px;
  }

  .footer-copyright {
    font-size: 13px;
  }

  .footer-logo-wrap{
    display: block;
    margin-bottom:15px;
  }

  .footer-nav a{
    font-size: 16px;
  }

}

@media only screen and (min-width:601px) and (max-width:767px){
  
  .home{
    padding: 20px 0 60px;
  }



  /* 
  .heading-up{
    margin-bottom: -30px;
  }

  .heading-down{
    margin: 30px 0px 0px 0px;
  } */

  .home-col-1 {
    width:90%;
    margin: auto;
  }

  /* .home-text-wrap h1{
    font-size: 24px;
  }

  .home-text-wrap{
    padding-left: 0px;
  }

  .home-text-para {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 14px;
  } */

  .home-col-2 {
    width:80%;
    margin: auto;
  }

  /* .home-bg{
    max-width:100%;
  } */

  .home-row {
    flex-direction: column-reverse;
  }

  /* .row {
    flex-direction: column;
    margin:0px;
  } */

  /*   content  */


  .custom-title {
    font-size: 75px;
    line-height: .8;
    text-align: center;
  }

  .content-image-wrap.col-5 {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .cRow {
    flex-direction: column;
  }

  .col-7{
    width: 100%;
  }

  .content-content-wrap.col-7{
    max-width: 90%;
    margin: 75px auto auto auto;
    /* padding: 0px 0px; */
  }

  /* .content-content-wrap.col-7 p{
    font-size: 16px;
  } */

  .anim-icon-wrap{
    width: 325px;
    height: 367px;
  }

  /* h4{
    font-size: 18px;
  } */


  /* .home-text{
    margin-left: 0px;
  }

  .btn-style{
    height:60px;
  }

  .btn-style-text{
    font-size: 20px;
  } */


  /*   Keypoint */

  

  /*  tool */



  /*  form */

  .form-section{
    padding: 50px 0px 0px;
  }

  #text{
    font-size:60px;
  }

  .course-builder-form {
    width: 100%;
    padding: 0px 10px;
  }

  label.lms-text{
    font-size: 24px;
  }

  .hs_firstname, .hs_lastname, .hs_company,.hs_email, .hs_phone, .hs_numemployees{
    float: none;
    width:100%;
  }

  .hs-form label.right {
    right: 0px;
    left: 45px;
  }

  .hs-form label {
    font-size: 18px;
    top: -35px;
  }

  .hs-form label.left, .hs-form label.right{
    left: 15px;
  }

  .hs-form .hs-form-field {
    margin-bottom: 55px;
  }

  .form-columns-1, .form-columns-2{
    margin-top: 0px;
  }

  select#numemployees.hs-input{
    font-size: 16px;
  }

  select{
    background-position: 90% 45%;
    background-size: 18px;
    text-align-last: left;
  }

  /* textarea#multi_line_text_property {
    padding: 10px 10px;
  } */
 #lms_name-06257986-1392-4aad-86ec-bba38f21f752 {
    padding: 10px 10px;
  }

  .form-row-btn{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  .form-row-btn{
    width:90%;
    margin: auto;
  }

  .form-label{
    text-align: center;
    font-size: 14px;
    margin: 20px 0px 20px 0px;
  }

  ul{
    width: 98%;
  }

  .hs-form-radio p {
    font-size: 18px;
  }

  .input .hs-input{
    height: 65px;
    padding: 15px 15px;
  }

  .hs_submit{
    align-self: center;
  }

  
  /* contact */
  .contact{
    margin: 5% 0 0 0;
  }

  .contacts-subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .contacts-title span {
    font-size: 30px;
  }

  .contacts-title {
    font-size: 26px;
  }

  .contacts-helmet {
    transform: translate(0px, 0px);
  }

  .free-trial-btn .btn-style .btn-style{
    font-size: 30px;
  }

  .free-trial-btn .btn-style{
    height: 60px;
    font-weight: 700;
  }

  .contact {
    padding: 50px 0px 0px 0px;
  }

  .contact-row {
    flex-direction: column-reverse;
  }

  .contact-col-2{
    margin-bottom: 40px;
    max-width: 100%;
  }

  .contact-col-1 {
    max-width: 90%;
    margin: auto;
  }

  .footer {
    padding: 85px 20px 20px;
  }

  .footer-logo {
    margin-right: 50px;
    margin-bottom: 35px;
  }

  .footer-copyright {
    font-size: 13px;
  }

}


@media only screen and (min-width:768px) and (max-width:950px){
 
  .content-wrapper{
    width: 96%;
  }

  .home{
    padding: 20px 0 60px;
  }

  /* .heading-up{
    margin-bottom: -50px;
  } */

  .home-col-1 {
    width:90%;
    margin: auto;
  }

  /* .home-text-wrap h1{
    font-size: 30px;
  }

  .home-text-wrap{
    padding-left: 0px;
  }

  .home-text-para {
    max-width: 100%;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 14px;
  } */

  .home-col-2 {
    width:80%;
    margin: auto;
  }

  /* .home-bg{
    max-width:100%;
  } */

  .home-row {
    flex-direction: column-reverse;
  }

  /* .row {
    flex-direction: column;
    margin:0px;
  } */

  /* content */


  /* .content{
    padding: 0% 2%;
  } */

  .custom-title {
    font-size: 100px;
    text-align: center;
  }

  /* .heading-down{
    margin: 30px 0px 0px 0px;
  } */

  /* .cRow {
    margin-left:0%;
  } */

  /* .content-content-wrap{
    padding-right: 0px;
  } */

  /* .content-content-wrap.col-7 p{
    font-size: 14px;
  } */

  /* h4{
    font-size: 16px;
  } */

  .anim-icon-wrap{
    height: 310px;
    align-self: center;
  }



  /* keypoint */

 
  /* Tools */


  /* Form */

  .form-section {
    padding: 150px 0px 0px 0px;
  }

  .course-builder-form{
    padding: 0px 20px;
  }

  #text{
    font-size: 60px;
  }

  .form-columns-1, .form-columns-2{
    margin-top: 45px;
  }

  .hs-form label.left{
    left: 20px;
  }

  .hs-form label.right{
    right: 20px;
  }

  .hs-form label{
    top:-35px;
  }

  select{
    background-position: 90% 45%;
    background-size: 18px;
    text-align-last: left;
  }

  .input .hs-input{
    height: 60px;
    padding: 10px 20px;
  }

  /* textarea#multi_line_text_property {
    padding: 20px 20px;
  } */


  #lms_name-06257986-1392-4aad-86ec-bba38f21f752 {
    padding: 20px 20px;
  }

  ul{
    width: 90%;
  }

  .form-label{
    font-size: 11px;
  }

  /* contact */
  .contact {
    margin:100px 0px 0px;
  }

  .bg-image {
    transform: translate(-33%, 35%) scale(0.5,0.5);
  }

  .contacts-title {
    font-size: 30px;
  }
  
  .contact span {
    font-size: 30px;
  }

  .contacts-subtitle {
    font-size: 20px;
  }

  .contacts-helmet{
    transform: translate(35px, 10px); 
  }

  .contact .btn-style-text{
    font-size: 24px;
    height: 60px;
    line-height: 2.5;
  }

  /* Footer */

  .footer{
    padding: 200px 20px 20px;
  }

}

@media only screen and (min-width:951px) and (max-width:1200px){
 
  .home {
    padding: 60px 0 115px;
  }
 
  /* .home-text-para{
    font-size: 20px;
  }

  .home-text-wrap h1{
    font-size: 26px;
  } */

  /* .home-btn-wrap{
    text-align: center;
  } */


  /* content */


  /* .content{
    padding: 0% 3%;
  } */

  .custom-title {
    font-size: 100px;
    text-align: center;
  }
/* 
  .heading-down{
    margin: 30px 0px 0px 0px;
  } */

  /* .cRow {
    margin-left:0%;
  } */

  /* .content-content-wrap{
    padding-right: 0px;
  } */

  /* .content-content-wrap.col-7 p{
    font-size: 16px;
  } */

  /* h4{
    font-size: 18px;
  } */

  .anim-icon-wrap-icon:nth-child(2) {
    top: 38%;
  }

  .anim-icon-wrap-icon:nth-child(3) {
    top: 47%;
  }

  .anim-icon-wrap-icon:nth-child(4) {
    top: 64%;
  }



  /* keypoint */




  /* Tools */




  /* Form */

  .form-section {
    padding: 150px 0px 0px 0px;
  }

  .course-builder-form{
    padding: 0px 20px;
  }

  .form-columns-1, .form-columns-2{
    margin-top: 45px;
  }

  .hs-form label.left{
    left: 20px;
  }

  .hs-form label.right{
    right: 20px;
  }

  .hs-form label{
    top:-35px;
  }

  .input .hs-input{
    height: 80px;
    padding: 10px 20px;
  }

  /* contact */
  .contact {
    margin:100px 0px 0px;
  }

  .bg-image {
    transform: translate(-27%, 35%) scale(0.6,0.6);
  }

  .contacts-title {
    font-size: 30px;
  }
  
  .contact span {
    font-size: 30px;
  }

  .contacts-subtitle {
    font-size: 20px;
  }

  .contacts-helmet{
    transform: translate(35px, 10px); 
  }

  .contact .btn-style-text{
    font-size: 24px;
    height: 60px;
    line-height: 2.5;
  }

  /* Footer */

  .footer{
    padding: 200px 20px 20px;
  }
}

@media only screen and (min-width:1201px) and (max-width:1675px){

  
  .custom-title {
    font-size: 140px;
  }

 
  h3{
    font-size: 26px;
  }

  .contact{
    margin: 150px 80px 0;
  }
}

/* ====================== small icon ====================== */


@media only screen and (min-width: 768px) and (max-width: 769px){

  .home-icon:nth-child(1) {
    max-width: 68px;
    left: -12px;
    top: -54px;
  }

  .home-icon:nth-child(2) {
    max-width: 48px;
    left: 600px;
    top: 409px;
  }

  .home-icon:nth-child(3) {
    max-width: 20px;
    left: 611px;
    top: 355px;
  }

  .home-icon:nth-child(4) {
    max-width: 12px;
    left: 650px;
    top: 376px;
  }

  .home-icon:nth-child(5) {
    max-width: 20px;
    left: -40px;
  }

  .home-play-btn{
    width: 80px;
  }

  .content-icon:nth-child(1) {
    left: -15px;
    top: 70px;
  }

  .content-icon:nth-child(2) {
    left: 295px;
    top: 325px
  }

  .content-icon:nth-child(3) {
    top: 320px;
  }

  .content-icon:nth-child(4) {
    left: 13px;
  }

  .content-icon:nth-child(6) {
    left: -35px;
  }

  .content-icon:nth-child(5) {
    max-width: 50px;
    left: 235px;
    top: 268px;
  }

  .keypoint-icon:nth-child(1) {
    max-width: 32px;
    left: 86px;
    top: -86px;
  }

  .keypoint-icon:nth-child(2) {
    max-width: 12px;
    left: 630px;
    top: -120px;
  }

  .keypoint-icon:nth-child(3) {
    max-width: 27px;
    left: 654px;
    top: -115px;
  }

  .contact-icon:nth-child(1) {
    max-width: 60px;
    left: 230px;
    top: -268px;
  }

  .contact-icon:nth-child(2) {
    left: 18px;
    bottom: 14px;
  } 

  .contact-icon:nth-child(3) {
    max-width: 45px;
    left: 58px;
    bottom: -45px;
  } 

  .contact-icon:nth-child(4) {
    left: -8px;
    bottom: -7px;
  } 

  .contact-icon:nth-child(5) {
    left: 200px;
    top: -220px;
  }

}

@media only screen and (min-width: 770px) and (max-width: 1023px){
  .small-icon-wrap{
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1025px){

  .home-icon:nth-child(1) {
    max-width: 57px;
    left: -10px;
    top: -45px;
  }

  .home-icon:nth-child(2) {
    max-width: 42px;
    left: 553px;
    top: 375px;
  }

  .home-icon:nth-child(3) {
    max-width: 20px;
    left: 557px;
    top: 328px
  }

  .home-icon:nth-child(4) {
    max-width: 10px;
    left: 583px;
    top: 350px;
  }

  .home-icon:nth-child(5) {
    max-width: 20px;
    left: -28px;
  }

  .content-icon:nth-child(1) {
    left: -15px;
    top: 70px;
  }

  .content-icon:nth-child(2) {
    left: 355px;
    top: 455px;
  }

  .content-icon:nth-child(3) {
    top: 425px;
  }

  .content-icon:nth-child(5) {
    max-width: 50px;
    left: 280px;
    top: 370px;
  }

  .keypoint-icon:nth-child(1) {
    max-width: 32px;
    left: 203px;
    top: -86px;
  }

  .keypoint-icon:nth-child(2) {
    max-width: 12px;
    left: 750px;
    top: -120px;
  }

  .keypoint-icon:nth-child(3) {
    max-width: 27px;
    left: 770px;
    top: -115px;
  }

  .contact-icon:nth-child(1) {
    max-width: 60px;
    left: 311px;
    top: -350px;
  } 

  .contact-icon:nth-child(2) {
    left: -15px;
    bottom: 45px;
  } 

  .contact-icon:nth-child(3) {
    max-width: 50px;
    left: 18px;
    bottom: -26px;
  } 

  .contact-icon:nth-child(4) {
    left: -40px;
    bottom: 12px;
  } 

  .contact-icon:nth-child(5) {
    left: 280px;
    top: -286px;
  }
}